<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.apptik.widget.example.multislider"
          xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk tools:overrideLibrary="io.apptik.widget.mslider.uiautomator, android.support.test.uiautomator.v18"/>

</manifest>
